{% extends 'myapp/base.html' %}

{% block page_title %}Reverse Complementary{% endblock %}
{% block nav-link-tools %}active{% endblock %}
{% block nav-item-revcomp %}active{% endblock %}

{% block content %}
    <h1>Tools <small>Revcomp</small></h1>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 12px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    {% if results %}
        <table>
            <thead>
            <tr>
                <th>Reverse complementary sequence to query {{ query }}</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ results }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Reverse Complement</button>
        </form>
    {% endif %}
{% endblock %}
