{% extends 'myapp/base.html' %}

{% block content %}
<h1>Tools <small>Revcomp</small></h1>

{% if query_sequence and result_sequence %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Header</th>
                <th>Sequence</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ query_header }}</td>
                <td><pre>{{ query_sequence }}</pre></td>
            </tr>
            <tr>
                <td>{{ result_header }}</td>
                <td><pre>{{ result_sequence }}</pre></td>
            </tr>
        </tbody>
    </table>
{% else %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endif %}
{% endblock %}
